div{
    /* border: 1px solid black; */
    box-sizing: border-box;
}
#container{
    width: 1140px;
    margin:auto;
    /* height: 10000px; */
}

#header{
    height: 200px;
    display: flex;
}

#header > div:nth-child(1){
    flex-basis:15%;
}

#header > div:nth-child(2){
    flex-basis:70%;
}
#header > div:nth-child(3){
    flex-basis:15%;
}

#header > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) > img{
    width: 120px;
}

#header > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 500px;
    padding : 10px;
    font-weight: bold;   
    border : 2px solid #455ba8;
    border-radius : 5px;
} 

#nav{
    height: 50px;

    border-bottom:2px solid black;
    background-color: white;

    position : sticky;
    top : 0;
    /*
        sticky 
         - 스크롤이 임계점에 도달했을 때 화면에 스티커처럼 요소를 붙이는 속성
         - 평소에는 기본 position상태를 유지하다가, 임계점 도달시 fixed로 변경된다. 
         - top , bottom, left, right 속성이 필수로 작성되어야 한다.
    */
}

#nav > ul {
    display: flex;
    list-style: none;
    padding : 0;
    margin : 0;
    height: 100%;
}

#nav li {
    flex : 0 1 150px;
}

#nav a {
    display: block;
    height: 100%;
    text-align: center;
    /* padding : 11px 0; */
    line-height: 50px;

    text-decoration: none;
    color:black;
    font-size : 18px;
    font-weight: bold;

}

#nav a:hover{
    background-color: #455ba8;
    color:white;
    border-radius: 5px;
    transition-duration: 0.1s;
}

#content {
    height: 800px;
    display: flex;
}

#content > div:nth-child(1){
    flex-basis: 70%;
}
#content > div:nth-child(2){
    flex-basis :30%;
}

#login-form{
    height: 140px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#id-pw-area{
    margin: 0px;
    padding: 0px;
    border : 1px solid #ddd;

    display: flex;
    flex-basis: 60%;
}

#id-pw-area > div:first-child{
    flex-basis: 75%;   
    display: flex;
    flex-direction: column;
}
#id-pw-area > div:last-child{
    flex-basis:25%;
    display: flex;
    justify-content: center;
}

#id-pw-area > div:first-child > input {
    border : 0;
    border-right : 1px solid #ddd;
    flex-basis : 50%;
    outline: 0;
    margin : 0;
    padding : 5px;
}

#id-pw-area > div:last-child > button{
    flex-basis: 100%;
    border : 0;
    background-color: white;
    cursor:pointer;
}

#id-pw-area > div:last-child > button:hover{
    background-color: #455ba8;
    color: white;
}

#signup-find-area{
    flex-basis: 20%;
    margin-top: 10px;
    padding-left : 5px;
}

#signup-find-area > a {
    color:black;
    text-decoration: none;
    font-size : 14px;
}

#signup-find-area > span {
    padding : 0 10px;
}
#footer{
    height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#footer > p{
    font-weight: bold;
}

#footer > div a{
    font-size: 14px;
    color:black;
    text-decoration: none;
}

#footer > div span{
    padding : 0 10px;
}
