*{
    border: 1px solid black;
    box-sizing: border-box;
}
#container{
    width: 1140px;
    margin:auto;
}

#header{
    height: 200px;
    display: flex;
}

#header > div:nth-child(1){
    flex-basis:15%;
}

#header > div:nth-child(2){
    flex-basis:70%;
}
#header > div:nth-child(3){
    flex-basis:15%;
}

#header > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div:nth-child(1) > img{
    width: 120px;
}

#header > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    width: 500px;
    padding : 10px;
    font-weight: bold;   
    border : 2px solid #455ba8;
    border-radius : 5px;
}


