img{
    width: 250px;
    height: auto;
}

/* transform : 변형과 관련된 속성 */
.trans-x-2d:hover{
    transform: translateX(100px);
}

.trans-y-2d:hover{
    transform:translateY(-100px);
}

.trans-d-2d:hover{
    transform: translate(-100px , 100px);
}

/* scale(배율) */
.trans-x-scale:hover{
    transform:scaleX(3);
}

.trans-y-scale:hover{
    transform:scaleY(2);
}

.trans-d-scale:hover{
    transform:scale(2,2);
}

.trans-rotate:hover{ 
    transform:rotate(180deg)
}

.trans-3d:hover{
    /* perspective(z축의 길이) : 원근법 적용  */
    transform : perspective(300px) translate3d(50px, 50px, 100px);
}

.trans-rotate-x-3d:hover{
    transform: perspective(300px) rotateX(45deg);
}

.trans-rotate-y-3d:hover{
    transform: perspective(300px) rotatey(45deg);
}

.trans-rotate-z-3d:hover{
    transform: perspective(300px) rotatez(45deg);
}

.trans-rotate-3d:hover{
    transform: perspective(300px) rotate3d(0.5 , 0.5, 0.5 ,45deg);
}

/* transition */
.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: red;

    /* 스타일이 변경되는 시간을 지정 */
    transition-duration: 1s;
}

.test1:hover{
    background-color: yellow;
}

.test2:hover{
    transform:rotate(360deg);
    background-color: skyblue;

    border-radius: 50%;
}

.test3{
    /* 변경에 걸리는 시간 */
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0,-0.69,0,2.91);
}

.test3:hover{
    background-color: springgreen;
}

.test4{
    transition-delay : 1s;
    transition-property: background-color, transform;
}

.test4:hover{
    background-color: yellow;
    font-size: 50px;
    transform: translateX(100px);
}





