.area1{ background-color: red;}
.area2{background-color: orange;}
.area3{background-color: yellow;}
.area4{background-color: green;}
.area5{background-color: blue;}

.block{
    border : 1px solid black;
    width : 150px;
    height: 150px;
    color : white;

    display: block;
}

.inline{
    display:inline;
}

.inline-block{
    display : inline-block;
}

#container-1{
    border : 3px solid black;
    width: 323px;
    height: 500px;
}

#container-1 > div:first-of-type{
    background-color: red;
    /* width: 100%; */
    height: 30%;
}

#container-1 > div:last-of-type{
    background-color: blue;
    height: 70%;
}

#container-2{
    border: 3px solid black;
    width: 300px;
    height: 440px;
}

#container-2 > :first-child{
    height: 20%;
    background-color: yellowgreen;
}

#container-2 > :nth-child(2){
    height: 30%;
    background-color: orangered;
}

#container-2 > :nth-child(3){
    height: 50%;
    background-color: skyblue;
}

#container-3{
    border : 5px solid red;
    width: 400px;
    height: 200px;
}

#container-3 > div{
    width: 50%;
    height: 100%;
    display: inline-block;
}

#container-3 > :first-child{
    background-color: pink;
}

#container-3 > :last-child{
    background-color: steelblue;
}

.div-4{
    border: 3px solid black;
    height: 100px;
}

#test4{
    background-color: deeppink;

    /* display: none; */
    /* 요소는 존재하지만 화면에 보이지 않는다.
    + 영역도 차지하지 않는다. */

    /* opacity:0; 요소의 가시성을 관리하는 속성 */
    visibility:hidden; /* 요소의 투명도를 0으로 만드는 속성 */

}

