.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.content{
    /* 
        width/height속성은 기본적으로 content영역의
        크기를 지정하는 속성
    */
    width: 150px;
    height: 150px;
}

.border{
    border:10px solid red;
}

.padding{
    padding : 30px;
    /* content와 border사이 간격을 30px만큼 벌림 */
}

.margin{
    margin : 50px;
}

/*
    서로 다른 요소의 margin이 겹치는 경우, 더 큰 마진을
    가진 요소의 값을 따른다.
*/
#m1{
    margin-top: 100px;
}

.padding-test{
    /* padding-top : 20px;
    padding-bottom: 50px;
    padding-left:30px;
    padding-right:30px; */

    /* 패딩/마진 속성 : 
        작성방법에 따라 특정방향으로 크기를 지정할 수 있다.
    */
    
    /* 크기를 1개만 지정한 경우 : 상하좌우 */
    /* padding : 30px; */

    /* 값 2개 :  상하 , 좌우 */
    padding : 50px 100px;

    /* 값 3개 : 상, 좌우 , 하 */
    padding : 10px 50px 100px;

    /* 값 4개 : 상, 우 , 하, 좌(시계방향)*/
    padding : 10px 20px 30px 40px;
}

.margin-test{
    margin-top : 30px;

    /* padding속성 사용법과 동일. */
    margin : 50px 200px 50px 100px;
}

.border-test{

    /* 
        보더 속성은, 테두리의 너비, 스타일, 색상을 모두 지정해야한다.
    */
    border-top: 1px solid black;
    border-bottom : 5px dashed magenta;
    border-left : 10px dotted blue;
    border-right : 7px double orange;

    /* 
        border의 두께만을 설정하는 속성으로, 상하좌우값을
        한번에 처리할 수 있다.(padding, margin과 동일)
    */
    border-width : 20px 10px 5px 2px;
}

.container{
    width: 500px;
    height: 300px;
    border : 2px solid black
}

/* margin:auto 테스트 */
.margin-auto{
    /* 
        부모 자식 관계의 요소라도 서로 다른 요소이기 때문에
        margin지정시 간격을 벌릴 수 있다.
    */
    /* margin-top :100px;
    margin-left:200px; */

    /* 요소의 좌우 간격을 자동으로 동일하게 정렬해주는 속성 */
    margin:100px auto;
}

#box-sizing{
    /*
        테두리 10px, 패딩 20px , 나머지 내용 
        전체 요소의 크기가 가로/세로 300px인 정사각형 만들기
    */
    border : 10px solid black;
    padding: 20px;

    /*
        기본 box-sizing사용시 padding과 border의 크기를
        감안하여 가로,세로 크기를 계산해야 한다.
    */
    /* width: 240px;
    height: 240px; */

    box-sizing: border-box;
    width: 300px;
    height: 300px;

    /* 
        content-box(기본값)
         - width / height속성 지정시 content영역의 크기를 지정
    
        border-box
         - width/height 속성 지정시 content + padding + border의 크기를 합산한
         결과가 지정한 속성값과 같게 자동으로 계산하여 적용한다.
    */
}